<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Get Student</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/app.css" />
  </head>
  <body>
    <div class="container mt-5">
      <ul>
        <% for( const element in student ) { %>
        <li class="col-xs-4">
          <%= element.charAt(0).toUpperCase() + element.slice(1) %> : <%=
          student[element] %>
        </li>
        <% } %>
      </ul>

      <form
      class="d-inline p-2"
        action="/student/<%= student.id %> "
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="hidden" name="status" value="1" />
        <button type="submit" class="btn btn-primary">Approve</button>
      </form>

      <form
      class="d-inline p-2"
        action="/student/<%= student.id %> "
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="hidden" name="status" value="2" />
        <button type="submit" class="btn btn-danger">Reject</button>
      </form>
    </div>
  </body>
</html>
